.subtitle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 1, 5rem;
  font-family: text;
  margin-top: 5vh;
  z-index: 2;
  background-color: transparent;
  white-space: nowrap;
}

@media screen and (min-width: 700px) {
  .subtitle {
    font-size: 3rem;
    white-space: nowrap;
  }
}
@media screen and (min-width: 600px) {
  .title {
    font-size: 2, 5rem;
    white-space: nowrap;
  }
}

@media screen and (min-width: 500px) {
  .subtitle {
    font-size: 2rem;
    white-space: nowrap;
  }
}
