.LegalNotice {
  position: relative;
  background-color: var(--home-bg-color);
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LegalNotice h2 {
  font-family: text;
  text-align: center;
  font-size: 2rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.LegalNotice_container {
  border: 1px solid grey;
  background-color: #ffff9e;
  padding: 40px 20px 10px 10px;
  border-radius: 10px;
  top: 60%;
  left: 50%;
  z-index: 100;
  box-shadow: 10px 10px black;
  width: 90%;
  height: 66vh;
  overflow-y: auto;
}

.Button_HomePage {
  border-radius: 10px;
  box-shadow: 5px 5px black;
  margin: 4vh 0;
}

.LegalNotice_container h2 {
  font-family: var(--text-font-family);
}

.LegalNotice_container p {
  margin: 0 5vw;
  text-align: justify;
}

.LegalNotice_container h3 {
  font-family: var(--text-font-family);
  padding: 10px;
}

.LegalNotice_container::-webkit-scrollbar {
  width: 20px;
}

.LegalNotice_container::-webkit-scrollbar-thumb {
  background: var(--cocktail-list-bg-color);
  border-radius: 10px;
}

.LegalNotice_container::-webkit-scrollbar-thumb:hover {
  background: var(--crd-bg-color);
}

.LegalNotice_container h4 {
  font-weight: bold;
  margin: 2vh 0;
}

.LegalNotice_container p {
  margin-top: 1vh;
}
.LegalNotice_container::-webkit-scrollbar-thumb {
  background: var(--cocktail-list-bg-color);
  border-radius: 10px;
}

.LegalNotice_container::-webkit-scrollbar-thumb:hover {
  background: var(--crd-bg-color);
}

.Button_HomePage {
  font-family: title-saint-regus;
  padding: 8px;
  border-color: transparent;
  background-color: #ffff9e;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #ffff9e;
  position: fixed;
  bottom: 5px;
  width: 90%;
  height: 10%;
  border-radius: 100px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  opacity: 1;
  transition: 0.5s ease;
  border: 2px solid black;
}

.copyright {
  font-family: var(--text-font-family);
}

.legal-notice {
  font-family: title-saint-regus;
  padding: 8px;
  border-color: transparent;
  background-color: #ffff9e;
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (min-width: 620px) {
  .footer {
    width: 60%;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    opacity: 0; /* change this value to 0*/
  }
  .footer:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 1023px) {
  .copyright {
    font-size: 1.5rem;
  }
  .legal-notice {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .legal-notice {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1700px) {
  .copyright {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
  .legal-notice {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
}
