.LegalNotice {
  position: relative;
  background-color: var(--home-bg-color);
  min-height: 100vh;
  height: auto;
}

.LegalNotice_container {
  position: absolute;
  display: flex;
  border: 1px solid grey;
  background-color: #ffff9e;
  padding: 40px 20px 10px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 10px 10px black;
  width: 90%;
  height: 66vh;
  overflow-y: auto;
}

.LegalNotice_container h2 {
  font-family: var(--text-font-family);
}

.LegalNotice_container p {
  margin: 0 5vw;
  text-align: justify;
}

.LegalNotice_container h3 {
  font-family: var(--text-font-family);
  padding: 10px;
}

.LegalNotice_container::-webkit-scrollbar {
  width: 20px;
}

.LegalNotice_container::-webkit-scrollbar-thumb {
  background: var(--cocktail-list-bg-color);
  border-radius: 10px;
}

.LegalNotice_container::-webkit-scrollbar-thumb:hover {
  background: var(--crd-bg-color);
}

.LegalNotice_container h4 {
  font-weight: bold;
  margin: 2vh 0;
}

.LegalNotice_container p {
  margin-top: 1vh;
}
.LegalNotice_container::-webkit-scrollbar-thumb {
  background: var(--cocktail-list-bg-color);
  border-radius: 10px;
}

.LegalNotice_container::-webkit-scrollbar-thumb:hover {
  background: var(--crd-bg-color);
}

.Button_HomePage {
  font-family: title-saint-regus;
  padding: 8px;
  border-color: transparent;
  background-color: #ffff9e;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #ffff9e;
  position: fixed;
  bottom: -40px;
  width: 50%;
  height: 10%;
  border-radius: 100px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: 0.5s ease;
  box-shadow: 0px 0px 0px 5px black;
}
.footer:hover {
  opacity: 1;
}

.copyright {
  font-family: var(--text-font-family);
}

.legal-notice {
  font-family: title-saint-regus;
  padding: 8px;
  border-color: transparent;
  background-color: #ffff9e;
  cursor: pointer;
}
