.allcocktails_section {
  position: relative;
  background-color: var(--cocktail-list-bg-color);
}

.list__allcocktails {
  margin: 0 10vw;
  padding-top: 15vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  z-index: 5;
}

.green_drinks {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

@media screen and (min-width: 600px) {
  .allcocktails_section {
    display: flex;
    justify-content: flex-end;
  }

  .list__allcocktails {
    width: 55%;
  }
}
