.allcocktails_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--cocktail-list-bg-color);
}

.list__allcocktails {
  margin: 0 10vw;
  padding-top: 5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.green_drinks {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

/* Scroll part */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--cocktail-list-bg-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--crd-bg-color);
}

@media screen and (min-width: 600px) {
  .list__allcocktails {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .list__allcocktails {
    align-items: end;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
