.allcocktails__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--crd-bg-color);
  min-height: 50vh;
  min-width: 30vw;
  padding-top: 3vh;
  font-family: text;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px black;
  margin: 2rem 1rem 1rem 1rem;
}

.allcocktails__frontcard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.allcocktails__card h1 {
  padding: 2vh;
  font-size: 1.5rem;
  font-weight: bold;
}

.allcocktails__img {
  max-width: 55vw;
  margin: 0;
}

.allcocktails__backcard {
  padding: 1vh 4vw;
}

@media screen and (min-width: 600px) {
  .allcocktails__card {
    width: 10vw;
    height: 0vh;
  }

  .allcocktails__img {
    max-width: 15vw;
  }
}
