.list__allcocktails {
  margin: 0 10vw;
  padding-top: 15vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  z-index: 5;
}

.allcocktails__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--crd-bg-color);
  min-height: 50vh;
  min-width: 30vw;
  padding-top: 3vh;
  font-family: text;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px black;
  margin: 2rem 1rem 1rem 1rem;
  margin-bottom: 3vh;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.allcocktails__frontcard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.allcocktails__card h1 {
  padding: 2vh;
  font-size: 1.5rem;
  font-weight: bold;
}

.allcocktails__img {
  max-width: 55vw;
  margin: 0;
  border-radius: 10px;
}

.allcocktails__backcard {
  position: absolute;
  padding: 1vh 4vw;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.container_card:hover .allcocktails__card {
  transform: rotateY(180deg);
}

@media screen and (min-width: 600px) {
  .allcocktails__card {
    width: 10vw;
    height: 0vh;
  }

  .allcocktails__img {
    max-width: 15vw;
  }
}
