.allcocktails__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--crd-bg-color);
  min-height: 30vh;
  min-width: 50vw;
  padding-top: 5rem;
  font-family: text;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px black;
  margin: 2vw;
}

@media screen and (min-width: 600px) {
.allcocktails__card
{
min-width :20vw;
min-height: 40vh;
}
}